.links-card {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: $brand-font-copy-one;
  color: $brand-white;
  text-decoration: none;
  padding: 15px;
  background: $brand-color-one;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 auto 15px;
  box-shadow: 0 0 9px 4px rgba($brand-color-one, 0.4);
  text-shadow: 1px 1px rgba($brand-black, 0.5);
  transition: 0.5s;
  text-align: left;

  .links-card-image {
    width: 40px;
    height: 40px;
    margin-right: 15px;

    svg {
      max-height: 100%;
    }
  }

  &:hover {
    text-decoration: none;
    color: $brand-white;
  }
}

.links-heading {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 auto 15px;
}

.links-heading-title {
  display: flex;
  color: $brand-white;
  font-family: $brand-font-heading-one;
  font-size: 24px;
  margin: 0;
  text-shadow: 1px 1px rgba($brand-color-one, 0.5);
}
