.back-page-wrapper {
  min-height: calc(100vh - 100px);
  padding: 100px 15px 50px;
  position: relative;
  @include media-breakpoint-up(lg) {
    padding: 200px 15px 100px;
  }

  .inner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-image: url("/images/pattern-back-1.png");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: fadeIn;
    animation-fill-mode: both;
    animation-duration: 1.5s;

    &:before {
      display: flex;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#121212+0,121212+100&1+0,0.2+48,0.65+48,1+100 */
      background: -moz-linear-gradient(top, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 0.65) 48%, rgba(18, 18, 18, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 0.65) 48%, rgba(18, 18, 18, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 0.65) 48%, rgba(18, 18, 18, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#121212', endColorstr='#121212', GradientType=0); /* IE6-9 */

    }
  }

  .container {
    border: 3px solid $brand-white;
    background: $brand-black;
    min-height: calc(100vh - 400px);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba($brand-color-one, 0.5);
    z-index: 10;
    position: relative;
    animation-name: fadeUp;
    animation-fill-mode: both;
    animation-duration: 1s;
    padding: 15px 30px;
    max-width: 1320px;
  }

  .no-items-wrapper {
    z-index: 10;
    position: relative;
    margin: 0 auto;
    max-width: 1320px;
  }

  .inner-content {
    padding: 15px;

    .bag-page-heading {
      color: $brand-color-one;
      font-family: $brand-font-heading-one;
      margin: 0 0 30px;
      text-shadow: 1px 1px rgba($brand-white, 0.6);
    }

    &.payments {
      .theme-button {
        width: 100%;
      }

      .back-button {
        margin: 0 0 20px;
      }
    }
  }

  .bag-page-price-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 100%;
    border: 1px solid $brand-color-one;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 9px 5px rgba($brand-color-one, 0.2);
    margin: 0 0 20px;

    .list-item {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: 0 0 15px;

      .item-title {
        margin: 0;
        color: $brand-white;
        font-size: 24px;
        font-family: $brand-font-heading-one;
      }

      .item-value {
        color: $brand-color-one;
        font-size: 24px;
        font-family: $brand-font-heading-one;
      }

      &:last-child {
        margin: 0;
        border-top: 1px solid $brand-color-one;
        padding-top: 15px;
      }
    }
  }

  &.checkout {
    .container {
      border: 3px solid $brand-color-one;
      box-shadow: 0 0 10px 5px rgba($brand-white, 0.5);
    }

    .inner-content {
      .bag-page-heading {
        color: $brand-white
      }
    }

    .bag-page-price-list {
      .list-item {
        .item-title {
          color: $brand-color-one;
        }

        .item-value {
          color: $brand-white;
        }
      }
    }
  }
}