.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  transition: 0.5s;
  animation-name: slideDown;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.5s;
  background: $brand-black;
  border-bottom: 1px solid $brand-color-one;
  z-index: 200;
  @include media-breakpoint-up(lg) {
    background: transparent;
    border-bottom: 1px solid rgba($brand-color-one, 0.3);
  }

  .container {
    max-width: 1320px;
  }

  .main-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    height: 70px;
    @include media-breakpoint-up(lg) {
      height: 100px;
    }

    .brand-logo {
      width: 170px;
      @include media-breakpoint-up(xl) {
        width: 220px;
      }
    }

    .burger-button {
      display: flex;
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .nav-hold-wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .user-wrapper {
      display: flex;
      position: relative;
      margin-right: 25px;
      @include media-breakpoint-up(lg) {
        margin-left: 10px;
      }

      .user-button {
        background: transparent;
        border: none;
        width: 30px;
        height: 30px;
        padding: 0;

        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid $brand-color-one;
          border-radius: 50%;
          transition: 0.5s;
          transform: scale(1.2);
        }

        .user-icon {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          transition: 0.5s;
        }

        &:focus {
          outline: none;
        }

        &:hover,
        &.active {
          &:before {
            transform: scale(1);
          }
        }
      }

      .user-drop-down {
        position: fixed;
        top: 70px;
        right: 0;
        background: $brand-color-one;
        display: flex;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        width: 100vw;
        border: 1px solid $brand-black;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
          position: absolute;
          border-radius: 10px;
          width: 200px;
          top: calc(100% + 15px);
          box-shadow: 0 0 8px 2px rgba($brand-color-one, 0.5);
        }

        &.active {
          opacity: 1;
          pointer-events: auto;
        }

        .user-drop-down-link {
          display: block;
          position: relative;
          width: 100%;
          padding: 15px;
          font-family: $brand-font-copy-one;
          text-decoration: none;
          color: $brand-black;
          text-transform: uppercase;
          transition: 0.5s;
          border: 1px $brand-black;
          border-style: solid none;
          text-align: center;
          font-size: 24px;
          @include media-breakpoint-up(lg) {
            font-size: 18px;
            padding: 10px 15px;
            text-align: left;
          }

          &:hover {
            color: $brand-white;
            text-shadow: 1px 1px $brand-color-one;
            background: $brand-black;
          }
        }
      }
    }
  }

  &.scroll-active {
    background: $brand-black;
    border-bottom: 1px solid $brand-color-one;

    .main-header-inner {
      height: 70px;

      .brand-logo {
        @include media-breakpoint-up(sm) {
          transform: scale(0.8);
        }

        &:hover {
          @include media-breakpoint-up(sm) {
            transform: scale(0.7);
          }
        }
      }

      .main-nav {
        .nav-list {
          .list-item {
            .item-link {
              color: $white;
            }
          }
        }
      }
    }
  }

  &.admin {
    display: none;
  }
}

.background-click {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba($brand-black, 0.8);
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-duration: 0.5s;

  @include media-breakpoint-up(lg) {
    background: transparent;
  }
}